body {
  background-color: #e0e0e0;
  font-family: sans-serif, Arial, Helvetica;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

th {
  background-color: #89c7c3;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  padding: 0.5em 1em;
  text-align: left;
  cursor: text;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

#map {
  height: 50dvh;
  width: 100dvw;
}

.highlight {
  background-color: rgb(210, 156, 200);
  font-weight: bold;
}

dialog {
  margin: auto;
  border: 1px solid black;
  border-radius: 5%;
  padding: 1rem 2rem;
  background-color: rgba(225, 202, 222, 0.968);
  cursor: text;
}

.modal-content button {
  margin-top: 15px;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  background-color: #7db4b0;
}

tr:not(.highlight):hover {
  background-color: #ddd8dd;
  transition: background-color 0.2s ease;
}
